.human-navbar-right {
  margin-left: 61%;
}

.human-footer-box {
  background-color: #f8f9fa;
  padding: 10px;
}

/* Index.html CSS */
.human-main-box {
  margin: 13.5%;
}

/* Features.html CSS*/
.human-features-box {
  margin: 3%;
}

.human-features-container {
  margin-top: 7%;
}

.human-features-form {
  margin-right: 25%;
}
